
<div class="home-banner">
  <h1>All Flats</h1>
  <%= link_to "Add a new flat", new_flat_path, style: 'color:#FFFFFF', :class => "btn btn-primary"%>
</div>

<br>
<br>

<div class="container">
  <div class="row">
    <% @flats.each do |f| %>
      <div class ="col-md-6 col-lg-4 mt-5">
       <%= render "card", flat: f %>
       </div>
    <% end %>
  </div>
</div>





